name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / Rails ${{ matrix.rails }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        rails:
          - '7.2'
          - '8.0'
          - '8.1'
          - 'main'
        exclude:
          # Rails 8.0+ requires Ruby 3.2+
          - ruby: '3.1'
            rails: '8.0'
          - ruby: '3.1'
            rails: '8.1'
          - ruby: '3.1'
            rails: 'main'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: false
      - name: Install dependencies
        env:
          RAILS_VERSION: ${{ matrix.rails }}
        run: |
          gem install bundler
          if [ "$RAILS_VERSION" = "main" ]; then
            bundle config set --local gemfile Gemfile
            bundle remove rails activestorage --skip-install || true
            bundle add rails --git https://github.com/rails/rails.git --skip-install
            bundle add activestorage --git https://github.com/rails/rails.git --skip-install
            bundle install
          else
            bundle config set --local gemfile Gemfile
            bundle remove rails activestorage --skip-install || true
            bundle add rails --version "~> ${RAILS_VERSION}.0" --skip-install
            bundle add activestorage --version "~> ${RAILS_VERSION}.0" --skip-install
            bundle install
          fi
      - name: Run the default task
        run: bundle exec rake
